USE [CCWeb]
GO
/****** Object:  Table [dbo].[CargaPcksTemp]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CargaPcksTemp](
	[vehiculo] [varchar](100) NULL,
	[clave_pck] [varchar](100) NULL,
	[pck] [varchar](100) NULL,
	[parte] [varchar](100) NULL,
	[cantidad] [float] NULL,
	[precio] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_codigo_postal]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cat_codigo_postal](
	[CP] [varchar](10) NULL,
	[Asentamiento] [varchar](256) NULL,
	[TipoAsentamiento] [varchar](256) NULL,
	[Municipio] [varchar](256) NULL,
	[Estado] [varchar](256) NULL,
	[Ciudad] [varchar](256) NULL,
	[Zona] [varchar](256) NULL,
	[CveEstado] [int] NULL,
	[CveTipoAsentamiento] [int] NULL,
	[CveMunicipio] [int] NULL,
	[CveCiudad] [int] NULL,
	[Pais] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_sistema]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cat_sistema](
	[id] [int] NOT NULL,
	[Nombre] [varchar](15) NOT NULL,
	[Alias] [varchar](30) NULL,
	[FechaActualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_sistema_detalle]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cat_sistema_detalle](
	[id] [int] NOT NULL,
	[id_cat_sistema] [int] NOT NULL,
	[Descripcion] [varchar](20) NULL,
	[Alias] [varchar](30) NULL,
	[FechaActualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cte_evento]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cte_evento](
	[id] [int] NOT NULL,
	[idVehiculo] [int] NULL,
	[TipoEvento] [varchar](30) NULL,
	[Descripcion] [varchar](256) NULL,
	[idUsuario] [int] NULL,
	[idAgenteAsignado] [int] NULL,
	[Estatus] [int] NULL,
	[FechaEvento] [smalldatetime] NULL,
	[FechaDebeTerminar] [smalldatetime] NULL,
	[FechaEntrega] [smalldatetime] NULL,
	[FechaRealizado] [smalldatetime] NULL,
	[idRegistro] [int] NULL,
	[FechaRegistro] [smalldatetime] NULL,
	[FechaActualizacion] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cte_evento_procesos]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cte_evento_procesos](
	[idEvento] [int] NULL,
	[NumProceso] [int] NULL,
	[Proceso] [varchar](100) NULL,
	[idPaquete] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cte_propietario]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cte_propietario](
	[idProspecto] [int] NOT NULL,
	[idVehiculo] [int] NOT NULL,
	[Principal] [bit] NULL,
	[Activo] [bit] NULL,
	[FechaActualizacion] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cte_prosp_contacto]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cte_prosp_contacto](
	[idProspecto] [int] NOT NULL,
	[TipoContacto] [varchar](20) NULL,
	[Dato] [varchar](256) NULL,
	[Lada] [varchar](5) NULL,
	[Ext] [varchar](5) NULL,
	[Activo] [bit] NULL,
	[FechaActualizacion] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cte_prospecto]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cte_prospecto](
	[id] [int] NOT NULL,
	[idSuc] [int] NULL,
	[idUsuario] [int] NULL,
	[Nombre] [varchar](256) NULL,
	[ApPaterno] [varchar](256) NULL,
	[ApMaterno] [varchar](256) NULL,
	[Celular] [varchar](15) NULL,
	[LadaTel] [varchar](5) NULL,
	[Telefono] [varchar](10) NULL,
	[LadaTO] [varchar](5) NULL,
	[TelOficina] [varchar](10) NULL,
	[Ext] [varchar](5) NULL,
	[Email] [varchar](256) NULL,
	[idRegistro] [int] NULL,
	[FechaRegistro] [smalldatetime] NULL,
	[Activo] [bit] NULL,
	[FechaActualizacion] [smalldatetime] NULL,
	[TipoPersona] [bit] NULL,
	[RFC] [varchar](30) NULL,
	[Direccion] [varchar](256) NULL,
	[Numero] [varchar](10) NULL,
	[NumInt] [varchar](10) NULL,
	[CP] [varchar](10) NULL,
	[Colonia] [varchar](100) NULL,
	[Delegacion] [varchar](30) NULL,
	[Estado] [varchar](30) NULL,
	[Pais] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cte_tipo_evento]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cte_tipo_evento](
	[Evento] [varchar](30) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Tipo] [varchar](20) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cte_vehiculo]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[cte_vehiculo](
	[id] [int] NOT NULL,
	[idSuc] [int] NULL,
	[idUsuario] [int] NULL,
	[VIN] [varchar](50) NULL,
	[Marca] [varchar](30) NULL,
	[Modelo] [varchar](30) NULL,
	[Version] [varchar](30) NULL,
	[Anio] [int] NULL,
	[Estatus] [varchar](20) NULL,
	[TipoOperacion] [varchar](100) NULL,
	[FechaActualizacion] [smalldatetime] NULL,
	[idRegistro] [int] NULL,
	[FechaRegistro] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ctrl_agente]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ctrl_agente](
	[id] [int] NOT NULL,
	[idSuc] [int] NULL,
	[Usuario] [varchar](30) NULL,
	[Nombre] [varchar](100) NULL,
	[ApPaterno] [varchar](50) NULL,
	[ApMaterno] [varchar](50) NULL,
	[TipoAgente] [varchar](50) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ctrl_agente_horario]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ctrl_agente_horario](
	[idAgente] [int] NULL,
	[Horario] [varchar](256) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ctrl_menu]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ctrl_menu](
	[id] [int] NOT NULL,
	[menu_texto] [varchar](100) NULL,
	[url] [varchar](100) NULL,
	[icono] [varchar](40) NULL,
	[fecha_creacion] [smalldatetime] NULL,
	[fecha_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL,
	[iconoMenuLateral] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ctrl_nivel_us]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ctrl_nivel_us](
	[id] [int] NOT NULL,
	[nivel] [varchar](100) NULL,
	[fecha_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ctrl_permiso]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ctrl_permiso](
	[id] [int] NOT NULL,
	[id_config_menu] [int] NULL,
	[id_conf_nivel_us] [int] NULL,
	[permiso] [varchar](50) NULL,
	[primero] [bit] NULL,
	[fecha_creacion] [smalldatetime] NULL,
	[fecha_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL,
	[orden] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ctrl_sessions]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctrl_sessions](
	[session_id] [nvarchar](40) NOT NULL,
	[ip_address] [nvarchar](16) NOT NULL,
	[user_agent] [nvarchar](120) NOT NULL,
	[last_activity] [int] NOT NULL,
	[user_data] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ctrl_usuario]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ctrl_usuario](
	[id] [int] NOT NULL,
	[id_suc] [int] NOT NULL,
	[usuario] [varchar](55) NULL,
	[password] [varchar](100) NULL,
	[nombre] [varchar](255) NULL,
	[apellido_paterno] [varchar](255) NULL,
	[apellido_materno] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[telefono] [varchar](30) NULL,
	[celular] [varchar](50) NULL,
	[id_nivel] [int] NULL,
	[id_acceso] [int] NULL,
	[fecha_creacion] [smalldatetime] NULL,
	[f_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL,
	[nombre_dms] [varchar](100) NULL,
	[Contrasena_dms] [varchar](32) NULL,
	[UltimoCambio_dms] [datetime] NULL,
	[vf_perfil] [varbinary](max) NULL,
	[vcf_perfil] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dat_ag]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[dat_ag](
	[id] [int] NOT NULL,
	[id_div] [int] NOT NULL,
	[agencia] [varchar](100) NOT NULL,
	[nom] [varchar](100) NULL,
	[intelisis_empresa] [varchar](30) NULL,
	[intelisis_db] [varchar](30) NULL,
	[intelisis_user] [varchar](30) NULL,
	[intelisis_password] [varchar](30) NULL,
	[intelisis_ip] [varchar](30) NULL,
	[razon_social] [varchar](255) NULL,
	[razon_social_corta] [varchar](255) NULL,
	[fecha_creacion] [smalldatetime] NULL,
	[fecha_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dat_corp]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[dat_corp](
	[id] [int] NOT NULL,
	[corporativo] [varchar](100) NOT NULL,
	[nom] [varchar](100) NULL,
	[fecha_creacion] [smalldatetime] NULL,
	[fecha_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dat_div]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[dat_div](
	[id] [int] NOT NULL,
	[id_corp] [int] NOT NULL,
	[division] [varchar](100) NOT NULL,
	[nom] [varchar](100) NULL,
	[fecha_creacion] [smalldatetime] NULL,
	[fecha_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dat_suc]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[dat_suc](
	[id] [int] NOT NULL,
	[id_ag] [int] NULL,
	[sucursal] [varchar](100) NULL,
	[nom] [varchar](100) NULL,
	[id_dat_suc] [int] NULL,
	[id_dat_dir_suc] [int] NULL,
	[int_sucursal] [int] NOT NULL,
	[int_almacen_serv] [varchar](30) NULL,
	[int_almacen_ref] [varchar](30) NULL,
	[matriz] [tinyint] NULL,
	[servicios_web] [int] NULL,
	[logo] [varchar](255) NULL,
	[logo_cabezera] [varchar](255) NULL,
	[id_pedido] [int] NULL,
	[fecha_creacion] [smalldatetime] NULL,
	[fecha_actualizacion] [smalldatetime] NULL,
	[eliminado] [bit] NULL,
	[website] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dms_art]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[dms_art](
	[Articulo] [varchar](20) NOT NULL,
	[Descripcion1] [varchar](100) NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Estatus] [varchar](15) NOT NULL,
	[UltimoCambio] [datetime] NULL,
	[Id_Ag] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dms_catalogo]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[dms_catalogo](
	[id] [int] NOT NULL,
	[Catalogo] [varchar](15) NULL,
	[Descripcion] [varchar](30) NULL,
	[FechaActualizacion] [smalldatetime] NULL,
	[Eliminado] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dms_catalogo_detalle]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[dms_catalogo_detalle](
	[id_catalogo] [int] NOT NULL,
	[Descripcion] [varchar](20) NULL,
	[FechaActualizacion] [smalldatetime] NULL,
	[Eliminado] [bit] NULL,
	[Id_Ag] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ListadoProspectos]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ListadoProspectos](
	[id] [int] NOT NULL,
	[idSuc] [int] NULL,
	[idUsuario] [int] NULL,
	[Prospecto] [varchar](770) NULL,
	[Celular] [varchar](15) NULL,
	[Activo] [bit] NULL,
	[idVehiculo] [int] NOT NULL,
	[Modelo] [varchar](30) NULL,
	[Version] [varchar](30) NULL,
	[TipoEvento] [varchar](30) NULL,
	[Descripcion] [varchar](256) NULL,
	[FechaEvento] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaquetesHomologacionPrecio]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[PaquetesHomologacionPrecio](
	[Servicio] [int] NOT NULL,
	[Vehiculo] [varchar](50) NOT NULL,
	[CodigoPaquete] [varchar](50) NULL,
	[Homologacion] [money] NULL,
	[Varios] [money] NULL,
	[Actualizacion] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaquetesWeb]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[PaquetesWeb](
	[IdPaquete] [int] NULL,
	[Regla] [int] NULL,
	[Articulo] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Cilindros] [varchar](50) NULL,
	[Transmision] [varchar](50) NULL,
	[Motor] [varchar](50) NULL,
	[DescripcionC] [varchar](100) NULL,
	[DescripcionL] [varchar](250) NULL,
	[TipoPaquete] [varchar](30) NULL,
	[Kilometraje] [int] NULL,
	[ClavePlanta] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServicioPaquetes]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ServicioPaquetes](
	[Id] [int] NOT NULL,
	[DescripcionC] [varchar](100) NULL,
	[DescripcionL] [varchar](250) NULL,
	[TipoPaquete] [varchar](30) NULL,
	[Kilometraje] [int] NULL,
	[Precio] [money] NULL,
	[TipoPrecio] [varchar](20) NULL,
	[Prorrateo] [varchar](25) NULL,
	[TTabulador] [float] NULL,
	[TFacturado] [float] NULL,
	[ClavePlanta] [varchar](100) NULL,
	[Estatus] [int] NULL,
	[Actualizacion] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServicioPaquetesD]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ServicioPaquetesD](
	[IdPaquete] [int] NOT NULL,
	[Renglon] [float] NOT NULL,
	[Articulo] [varchar](20) NULL,
	[SubtipoCuenta] [varchar](20) NULL,
	[Cantidad] [float] NULL,
	[TTabulado] [float] NULL,
	[AlmacenEsp] [varchar](10) NULL,
	[ListaPreciosEsp] [varchar](20) NULL,
	[PrecioUnitario] [money] NULL,
	[Actualizacion] [smalldatetime] NULL,
	[TipoArticulo] [varchar](20) NULL,
	[Descripcion] [varchar](100) NULL,
	[PrecioTotal] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServicioPaquetesR]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ServicioPaquetesR](
	[IdPaquete] [int] NULL,
	[Regla] [int] NULL,
	[Condicion] [varchar](50) NULL,
	[Definicion] [varchar](50) NULL,
	[Actualizacion] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VehiculosPaquetes]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[VehiculosPaquetes](
	[Id] [int] NOT NULL,
	[IdPaquete] [int] NOT NULL,
	[Modelo] [varchar](254) NULL,
	[Articulo] [varchar](20) NULL,
	[Cilindros] [int] NULL,
	[Transmision] [varchar](20) NULL,
	[Motor] [varchar](20) NULL,
	[Estatus] [int] NULL,
	[Actualizacion] [smalldatetime] NULL,
	[Regla] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIN]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[VIN](
	[VIN] [varchar](20) NOT NULL,
	[Articulo] [varchar](20) NULL,
	[Pedimento] [varchar](20) NULL,
	[ClaveVehicular] [varchar](20) NULL,
	[TipoUnidad] [varchar](20) NULL,
	[Km] [int] NULL,
	[KmSalida] [int] NULL,
	[Motor] [varchar](20) NULL,
	[Llave] [varchar](20) NULL,
	[Aduana] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Aseguradora] [varchar](50) NULL,
	[Cliente] [varchar](10) NULL,
	[Conductor] [varchar](10) NULL,
	[TieneMovimientos] [bit] NOT NULL,
	[Alta] [datetime] NULL,
	[Empresa] [varchar](5) NULL,
	[Placas] [varchar](20) NULL,
	[Poliza] [varchar](20) NULL,
	[PolizaTipo] [varchar](20) NULL,
	[PolizaVencimiento] [datetime] NULL,
	[GarantiaVencimiento] [datetime] NULL,
	[CodigoRadio] [varchar](20) NULL,
	[CodigoTransmision] [varchar](20) NULL,
	[CodigoColor] [varchar](20) NULL,
	[CodigoLlanta1] [varchar](20) NULL,
	[CodigoLlanta2] [varchar](25) NULL,
	[CodigoLlanta3] [varchar](20) NULL,
	[CodigoLlanta4] [varchar](20) NULL,
	[CodigoLlanta5] [varchar](20) NULL,
	[Registro] [varchar](20) NULL,
	[FechaCartaCredito] [datetime] NULL,
	[FechaFactura] [datetime] NULL,
	[FechaUltimoServicio] [datetime] NULL,
	[FechaSiguienteServicio] [datetime] NULL,
	[PolizaImporte] [money] NULL,
	[Costo] [float] NULL,
	[CostoConGastos] [float] NULL,
	[Tasa] [float] NULL,
	[Logico1] [bit] NOT NULL,
	[Logico2] [bit] NOT NULL,
	[Logico3] [bit] NOT NULL,
	[Logico4] [bit] NOT NULL,
	[Logico5] [bit] NOT NULL,
	[CambioVIN] [varchar](20) NULL,
	[CambioKm] [int] NULL,
	[Modelo] [varchar](4) NULL,
	[ClaveFinanciera] [varchar](3) NULL,
	[NumeroOrden] [varchar](6) NULL,
	[TipoCompra] [varchar](1) NULL,
	[FolioFacturaCompra] [varchar](15) NULL,
	[FechaFacturaCompra] [datetime] NULL,
	[Mercado] [varchar](2) NULL,
	[ClaveDistribuidor] [varchar](3) NULL,
	[Descripcion1] [varchar](38) NULL,
	[Descripcion2] [varchar](38) NULL,
	[PrecioBasicoDistribuidor] [money] NULL,
	[PrecioBasicoPublico] [money] NULL,
	[AjusteBasicoDistribuidor] [money] NULL,
	[TotalAccesoriosDistribuidor] [money] NULL,
	[TotalAccesoriosPublico] [money] NULL,
	[TotalDescuentoAccesoriosMemo] [money] NULL,
	[TotalDescuentoDistribuidorMemo] [money] NULL,
	[TotalDescuentoPepPublico] [money] NULL,
	[Descuento1Descripcion] [varchar](30) NULL,
	[Descuento1Distribuidor] [money] NULL,
	[Descuento1Publico] [money] NULL,
	[Descuento2Descripcion] [varchar](30) NULL,
	[Descuento2Distribuidor] [money] NULL,
	[Descuento2Publico] [money] NULL,
	[Descuento3Descripcion] [varchar](30) NULL,
	[Descuento3Distribuidor] [money] NULL,
	[Descuento3Publico] [money] NULL,
	[SeguroProvincial] [money] NULL,
	[GastosTraslado] [money] NULL,
	[SeguroAsociacion] [money] NULL,
	[Bonificacion15DiasSinIntereses] [money] NULL,
	[ReembolsoTransportacion] [money] NULL,
	[Bonificacion] [money] NULL,
	[BonificacionEnPrecio] [money] NULL,
	[GarantiaServicio] [money] NULL,
	[Miscelaneos] [money] NULL,
	[SubTotalFacturaCompra] [money] NULL,
	[IVAFacturaCompra] [money] NULL,
	[CoutaPublicidad] [money] NULL,
	[TotalFacturaCompra] [money] NULL,
	[NivelPrecios] [varchar](3) NULL,
	[ColorExterior] [varchar](10) NULL,
	[ColorExteriorDescripcion] [varchar](50) NULL,
	[ColorInterior] [varchar](10) NULL,
	[ColorInteriorDescripcion] [varchar](50) NULL,
	[ClaveAduana] [varchar](4) NULL,
	[PedimentoFecha] [datetime] NULL,
	[CoutaFondoCivico] [money] NULL,
	[CoutaFordStar] [money] NULL,
	[OtrasOpciones] [varchar](22) NULL,
	[FechaEntrada] [datetime] NULL,
	[FechaSalida] [datetime] NULL,
	[FechaPago] [datetime] NULL,
	[VentaID] [int] NULL,
	[CompraID] [int] NULL,
	[NumeroEconomico] [varchar](20) NULL,
	[Holograma] [varchar](50) NULL,
	[FechaMRS] [datetime] NULL,
	[FechaSalidaMRS] [datetime] NULL,
	[Interfase] [bit] NULL,
	[DiasLibresIntereses] [int] NULL,
	[DiasLibresAdicionales] [int] NULL,
	[UltimoPagoCostoPiso] [datetime] NULL,
	[IntercambioDirecto] [bit] NULL,
	[FechaImportacion] [datetime] NULL,
	[Estatus] [varchar](15) NULL,
	[Situacion] [varchar](50) NULL,
	[SituacionFecha] [datetime] NULL,
	[SituacionUsuario] [varchar](10) NULL,
	[SituacionNota] [varchar](100) NULL,
	[Agente] [varchar](10) NULL,
	[PrecioDistribuidor] [money] NULL,
	[PrecioPublico] [money] NULL,
	[PrecioContado] [money] NULL,
	[ISANPublico] [money] NULL,
	[ISANContado] [money] NULL,
	[IVAPublico] [money] NULL,
	[IVAContado] [money] NULL,
	[FechaBaja] [datetime] NULL,
	[BonoLealtad] [bit] NULL,
	[OtrasBonificaciones1] [money] NULL,
	[OtrasBonificaciones1F] [datetime] NULL,
	[OtrasBonificaciones2] [money] NULL,
	[OtrasBonificaciones2F] [datetime] NULL,
	[OtrasBonificaciones3] [money] NULL,
	[OtrasBonificaciones3F] [datetime] NULL,
	[BonificacionContratoServicio] [money] NULL,
	[BonificacionContratoServicioF] [datetime] NULL,
	[TipoVenta] [varchar](1) NULL,
	[ImporteVenta] [money] NULL,
	[Contrato] [varchar](20) NULL,
	[FIFSCAR] [varchar](20) NULL,
	[FIFechaFactura] [datetime] NULL,
	[FIMontoFinanciar] [money] NULL,
	[FIFechaPagare] [datetime] NULL,
	[FINumeroContrato] [varchar](20) NULL,
	[FIFechaCompra] [datetime] NULL,
	[FITipoFinanciamiento] [varchar](50) NULL,
	[UltimaLlamada] [datetime] NULL,
	[SiguienteLlamada] [datetime] NULL,
	[CantidadLlamadas] [int] NULL,
	[NoLlamar] [bit] NULL,
	[ValidarVIN] [bit] NULL,
	[Blindado] [bit] NULL,
	[KmsGarantia] [int] NULL,
	[VencimientoGarantia] [datetime] NULL,
	[TipoGarantia] [varchar](20) NULL,
	[KmsAdicionales] [int] NULL,
	[MesesAdicionales] [int] NULL,
	[KmsGarantiaTipo] [int] NULL,
	[VencimientoGarantiaTipo] [datetime] NULL,
	[Certificado] [varchar](20) NULL,
	[KmsAdicionalesCertificado] [int] NULL,
	[MesesAdicionalesCertificado] [int] NULL,
	[KilometrajeInicial] [int] NULL,
	[FechaVentaCertificado] [datetime] NULL,
	[KilometrosGarantiaCertificado] [int] NULL,
	[VencimientoGarantiaCertificado] [datetime] NULL,
	[CCNoLocalizable] [bit] NULL,
	[Procedencia] [varchar](55) NULL,
	[VehiculoDemo] [bit] NOT NULL,
	[UbicacionFisica] [varchar](50) NULL,
	[Cilindros] [int] NULL,
	[Puertas] [char](30) NULL,
	[Pasajeros] [int] NULL,
	[CapacidadCarga] [int] NULL,
	[CapacidadTanque] [int] NULL,
	[Combustible] [char](20) NULL,
	[AfectoImpuesto] [bit] NOT NULL,
	[Transmision] [varchar](20) NULL,
	[Repuve] [varchar](8) NULL,
	[PrimeraLlamada] [datetime] NULL,
	[ComentariosPrimeraLLamada] [varchar](1000) NULL,
	[SegundaLlamada] [datetime] NULL,
	[ComentariosSegundaLLamada] [varchar](1000) NULL,
	[TerceraLlamada] [datetime] NULL,
	[ComentariosTerceraLLamada] [varchar](1000) NULL,
	[DescripcionProximoServicio] [varchar](50) NULL,
	[ClavePatenteAduana] [char](4) NULL,
	[DescPaisOrigen] [char](40) NULL,
	[CuartaLlamada] [datetime] NULL,
	[ComentariosCuartaLLamada] [varchar](1000) NULL,
	[QuintaLlamada] [datetime] NULL,
	[ComentariosQuintaLLamada] [varchar](1000) NULL,
	[DescripcionLarga] [varchar](150) NULL,
	[Holdback] [money] NULL,
	[CategoriaVenta] [varchar](20) NULL,
	[MargenUtilidad] [float] NULL,
	[FolioGMAC] [varchar](20) NULL,
	[Cheque] [bit] NULL,
	[DealerOrigen] [varchar](10) NULL,
	[DealerDestino] [varchar](10) NULL,
	[FacturaDealer] [varchar](12) NULL,
	[FechaUltimaReparacion] [datetime] NULL,
	[FechaProximaReservacion] [datetime] NULL,
	[FechaUltimoServicioFord] [datetime] NULL,
	[DescripcionUltimoServicio] [varchar](50) NULL,
	[DescripcionUltimaReparacion] [varchar](50) NULL,
	[KMReparacion] [int] NULL,
	[ComentariosUltimaLLamada] [text] NULL,
	[TieneServicio] [bit] NULL,
	[MotorLts] [varchar](10) NULL,
	[TipoVehiculoQC] [varchar](50) NULL,
	[TipoVehiculoDemo] [char](20) NULL,
	[CteResponsable] [varchar](10) NULL,
	[CteRespNombre] [varchar](100) NULL,
	[CteRespTel] [varchar](50) NULL,
	[FechaDOFU] [datetime] NULL,
	[UsadosAdquisicion] [money] NULL,
	[UsadosEBC] [money] NULL,
	[FechaCompra] [datetime] NULL,
	[PlacasCompra] [varchar](20) NULL,
	[CostoConGasto] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIN2]    Script Date: 22/12/2021 01:51:05 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[VIN2](
	[Cilindros] [varchar](255) NULL,
	[Transmision] [varchar](255) NULL,
	[Motor] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET DATEFORMAT 'YMD'

INSERT [dbo].[cat_sistema] ([id], [Nombre], [Alias], [FechaActualizacion], [eliminado]) VALUES (1, N'TipoPaquete', N'Tipo Paquete', CAST(N'2015-10-02 11:55:00' AS SmallDateTime), 0)
INSERT [dbo].[cat_sistema_detalle] ([id], [id_cat_sistema], [Descripcion], [Alias], [FechaActualizacion], [eliminado]) VALUES (1, 1, N'Campania', N'Campaña', CAST(N'2015-10-02 12:17:00' AS SmallDateTime), 0)
INSERT [dbo].[cat_sistema_detalle] ([id], [id_cat_sistema], [Descripcion], [Alias], [FechaActualizacion], [eliminado]) VALUES (2, 1, N'Mantenimiento', N'Mantenimiento', CAST(N'2015-10-02 12:19:00' AS SmallDateTime), 0)
INSERT [dbo].[cat_sistema_detalle] ([id], [id_cat_sistema], [Descripcion], [Alias], [FechaActualizacion], [eliminado]) VALUES (3, 1, N'OperacionFrecuente', N'Operacion Frecuente', CAST(N'2015-10-02 12:50:00' AS SmallDateTime), 0)
INSERT [dbo].[ctrl_menu] ([id], [menu_texto], [url], [icono], [fecha_creacion], [fecha_actualizacion], [eliminado], [iconoMenuLateral]) VALUES (1, N'Home', N'index.php/welcome', N'icon-actividad_libre', CAST(N'2016-06-28 08:32:00' AS SmallDateTime), CAST(N'2016-06-28 08:32:00' AS SmallDateTime), 0, N'gn-icon fa-home')
INSERT [dbo].[ctrl_menu] ([id], [menu_texto], [url], [icono], [fecha_creacion], [fecha_actualizacion], [eliminado], [iconoMenuLateral]) VALUES (2, N'Crea Paquete', N'index.php/Paquetes/Paquetes/PaquetesCtrl', N'icon-mas-black', CAST(N'2014-11-20 16:55:00' AS SmallDateTime), CAST(N'2014-11-20 16:55:00' AS SmallDateTime), 1, N'gn-icon gn-icon-archive')
INSERT [dbo].[ctrl_menu] ([id], [menu_texto], [url], [icono], [fecha_creacion], [fecha_actualizacion], [eliminado], [iconoMenuLateral]) VALUES (3, N'Paquetes', N'index.php/Paquetes/Paquetes/PaquetesGeneral', N'icon-admin', CAST(N'2014-11-27 11:39:00' AS SmallDateTime), CAST(N'2014-11-27 11:39:00' AS SmallDateTime), 0, N'gn-icon gn-icon-cog')
INSERT [dbo].[ctrl_nivel_us] ([id], [nivel], [fecha_actualizacion], [eliminado]) VALUES (1, N'Super Usuario', CAST(N'2014-11-18 00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[ctrl_nivel_us] ([id], [nivel], [fecha_actualizacion], [eliminado]) VALUES (2, N'Paquetes', CAST(N'2015-02-05 13:30:00' AS SmallDateTime), 0)
INSERT [dbo].[ctrl_nivel_us] ([id], [nivel], [fecha_actualizacion], [eliminado]) VALUES (3, N'CCWeb', CAST(N'2015-02-05 13:44:00' AS SmallDateTime), 0)
INSERT [dbo].[ctrl_permiso] ([id], [id_config_menu], [id_conf_nivel_us], [permiso], [primero], [fecha_creacion], [fecha_actualizacion], [eliminado], [orden]) VALUES (1, 1, 1, N'Home', 0, CAST(N'2016-06-28 08:33:00' AS SmallDateTime), CAST(N'2016-06-28 08:33:00' AS SmallDateTime), 0, 1)
INSERT [dbo].[ctrl_permiso] ([id], [id_config_menu], [id_conf_nivel_us], [permiso], [primero], [fecha_creacion], [fecha_actualizacion], [eliminado], [orden]) VALUES (2, 2, 1, N'Crea Paquete', 0, CAST(N'2014-11-20 16:55:00' AS SmallDateTime), CAST(N'2014-11-20 16:55:00' AS SmallDateTime), 0, 2)
INSERT [dbo].[ctrl_permiso] ([id], [id_config_menu], [id_conf_nivel_us], [permiso], [primero], [fecha_creacion], [fecha_actualizacion], [eliminado], [orden]) VALUES (3, 3, 1, N'Paquetes', 1, CAST(N'2014-11-27 11:39:00' AS SmallDateTime), CAST(N'2014-11-27 11:39:00' AS SmallDateTime), 0, 3)
INSERT [dbo].[dat_ag] ([id], [id_div], [agencia], [nom], [intelisis_empresa], [intelisis_db], [intelisis_user], [intelisis_password], [intelisis_ip], [razon_social], [razon_social_corta], [fecha_creacion], [fecha_actualizacion], [eliminado]) VALUES (1, 1, N'DESARROLLO', N'Agencia', N'GMFAM', N'intelisis', N'sa', NULL, N'192.168.41.123', N'VETRASA LA URUCA GRAL CAÑAS', N'Razon Social', CAST(N'2014-11-18 00:00:00' AS SmallDateTime), CAST(N'2014-11-18 00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[dat_corp] ([id], [corporativo], [nom], [fecha_creacion], [fecha_actualizacion], [eliminado]) VALUES (1, N'CORP1', N'Corporativo 1', CAST(N'2014-11-18 00:00:00' AS SmallDateTime), CAST(N'2014-11-18 00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[dat_div] ([id], [id_corp], [division], [nom], [fecha_creacion], [fecha_actualizacion], [eliminado]) VALUES (1, 1, N'DIV1', N'Division 1', CAST(N'2014-11-18 00:00:00' AS SmallDateTime), CAST(N'2014-11-18 00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[dat_suc] ([id], [id_ag], [sucursal], [nom], [id_dat_suc], [id_dat_dir_suc], [int_sucursal], [int_almacen_serv], [int_almacen_ref], [matriz], [servicios_web], [logo], [logo_cabezera], [id_pedido], [fecha_creacion], [fecha_actualizacion], [eliminado], [website]) VALUES (1, 1, N'SUCURSAL', N'Matriz Sucursal', 1, 1, 0, N'S', N'R', 1, 0, NULL, N'assets/imagenes/logo_agencia.png', NULL, CAST(N'2014-11-18 00:00:00' AS SmallDateTime), CAST(N'2014-11-18 00:00:00' AS SmallDateTime), 0, N'intelisis-solutions.com.mx')
INSERT [dbo].[dms_catalogo] ([id], [Catalogo], [Descripcion], [FechaActualizacion], [Eliminado]) VALUES (1, N'Cilindros', N'Cilindros', CAST(N'2015-08-20 16:59:00' AS SmallDateTime), 0)
INSERT [dbo].[dms_catalogo] ([id], [Catalogo], [Descripcion], [FechaActualizacion], [Eliminado]) VALUES (2, N'Transmision', N'Transmision', CAST(N'2015-08-20 16:59:00' AS SmallDateTime), 0)
INSERT [dbo].[dms_catalogo] ([id], [Catalogo], [Descripcion], [FechaActualizacion], [Eliminado]) VALUES (3, N'Motor', N'Motor', CAST(N'2015-08-20 17:00:00' AS SmallDateTime), 0)
